<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.sparrow.mapper.order.TradeMapper">

    <resultMap type="com.net.sparrow.entity.order.TradeEntity" id="TradeResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="orderTime" column="order_time"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="remark" column="remark"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize > 0">
            LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

    <sql id="selectTradeColumn">
         id,
         code,
         user_id,
         user_name,
         order_time,
         order_status,
         pay_status,
         total_amount,
         payment_amount,
         remark,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>

            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="code != null  and code != ''">
                AND code = #{code}
            </if>

            <if test="userId != null ">
                AND user_id = #{userId}
            </if>

            <if test="userName != null  and userName != ''">
                AND user_name = #{userName}
            </if>

            <if test="orderTime != null ">
                AND order_time = #{orderTime}
            </if>

            <if test="orderStatus != null ">
                AND order_status = #{orderStatus}
            </if>

            <if test="payStatus != null ">
                AND pay_status = #{payStatus}
            </if>

            <if test="totalAmount != null ">
                AND total_amount = #{totalAmount}
            </if>

            <if test="paymentAmount != null ">
                AND payment_amount = #{paymentAmount}
            </if>

            <if test="remark != null  and remark != ''">
                AND remark = #{remark}
            </if>

            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>

            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>

            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>

            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>

            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>

            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="TradeResult">
        SELECT
        <include refid="selectTradeColumn"/>
        FROM order_trade
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="com.net.sparrow.entity.order.TradeConditionEntity"
            resultMap="TradeResult">
        SELECT
        <include refid="selectTradeColumn"/>
        FROM order_trade
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="com.net.sparrow.entity.order.TradeConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM order_trade
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="com.net.sparrow.entity.order.TradeEntity">
        UPDATE order_trade
        <trim prefix="SET" suffixOverrides=",">

            <if test="code != null  and code != ''">
                code = #{code},
            </if>


            <if test="userId != null ">
                user_id = #{userId},
            </if>


            <if test="userName != null  and userName != ''">
                user_name = #{userName},
            </if>


            <if test="orderTime != null ">
                order_time = #{orderTime},
            </if>


            <if test="orderStatus != null ">
                order_status = #{orderStatus},
            </if>


            <if test="payStatus != null ">
                pay_status = #{payStatus},
            </if>


            <if test="totalAmount != null ">
                total_amount = #{totalAmount},
            </if>


            <if test="paymentAmount != null ">
                payment_amount = #{paymentAmount},
            </if>


            <if test="remark != null  and remark != ''">
                remark = #{remark},
            </if>


            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>


            <if test="createTime != null ">
                create_time = #{createTime},
            </if>


            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>


            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>


            <if test="isDel != null ">
                is_del = #{isDel},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE order_trade
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.net.sparrow.entity.order.TradeEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="code != null  and code != ''">
                code,
            </if>


            <if test="userId != null ">
                user_id,
            </if>


            <if test="userName != null  and userName != ''">
                user_name,
            </if>


            <if test="orderTime != null ">
                order_time,
            </if>


            <if test="orderStatus != null ">
                order_status,
            </if>


            <if test="payStatus != null ">
                pay_status,
            </if>


            <if test="totalAmount != null ">
                total_amount,
            </if>


            <if test="paymentAmount != null ">
                payment_amount,
            </if>


            <if test="remark != null  and remark != ''">
                remark,
            </if>


            <if test="createUserId != null ">
                create_user_id,
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name,
            </if>


            <if test="createTime != null ">
                create_time,
            </if>


            <if test="updateUserId != null ">
                update_user_id,
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name,
            </if>


            <if test="updateTime != null ">
                update_time,
            </if>


            <if test="isDel != null ">
                is_del,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="code != null  and code != ''">
                #{code},
            </if>

            <if test="userId != null ">
                #{userId},
            </if>

            <if test="userName != null  and userName != ''">
                #{userName},
            </if>

            <if test="orderTime != null ">
                #{orderTime},
            </if>

            <if test="orderStatus != null ">
                #{orderStatus},
            </if>

            <if test="payStatus != null ">
                #{payStatus},
            </if>

            <if test="totalAmount != null ">
                #{totalAmount},
            </if>

            <if test="paymentAmount != null ">
                #{paymentAmount},
            </if>

            <if test="remark != null  and remark != ''">
                #{remark},
            </if>

            <if test="createUserId != null ">
                #{createUserId},
            </if>

            <if test="createUserName != null  and createUserName != ''">
                #{createUserName},
            </if>

            <if test="createTime != null ">
                #{createTime},
            </if>

            <if test="updateUserId != null ">
                #{updateUserId},
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                #{updateUserName},
            </if>

            <if test="updateTime != null ">
                #{updateTime},
            </if>

            <if test="isDel != null ">
                #{isDel},
            </if>

        </trim>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="TradeResult">
        SELECT
        <include refid="selectTradeColumn"/>
        FROM order_trade
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
