<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.sparrow.mapper.order.TradeItemMapper">

    <resultMap type="com.net.sparrow.entity.order.TradeItemEntity" id="TradeItemResult">
        <result property="id" column="id"/>
        <result property="tradeId" column="trade_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="model" column="model"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
        <result property="amount" column="amount"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize > 0">
            LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

    <sql id="selectTradeItemColumn">
         id,
         trade_id,
         product_id,
         product_name,
         model,
         price,
         quantity,
         amount,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>

            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="tradeId != null ">
                AND trade_id = #{tradeId}
            </if>

            <if test="productId != null ">
                AND product_id = #{productId}
            </if>

            <if test="productName != null ">
                AND product_name = #{productName}
            </if>

            <if test="model != null ">
                AND model = #{model}
            </if>

            <if test="price != null ">
                AND price = #{price}
            </if>

            <if test="quantity != null ">
                AND quantity = #{quantity}
            </if>

            <if test="amount != null ">
                AND amount = #{amount}
            </if>

            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>

            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>

            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>

            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>

            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>

            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="TradeItemResult">
        SELECT
        <include refid="selectTradeItemColumn"/>
        FROM order_trade_item
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="com.net.sparrow.entity.order.TradeItemConditionEntity"
            resultMap="TradeItemResult">
        SELECT
        <include refid="selectTradeItemColumn"/>
        FROM order_trade_item
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="com.net.sparrow.entity.order.TradeItemConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM order_trade_item
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="com.net.sparrow.entity.order.TradeItemEntity">
        UPDATE order_trade_item
        <trim prefix="SET" suffixOverrides=",">

            <if test="tradeId != null ">
                trade_id = #{tradeId},
            </if>


            <if test="productId != null ">
                product_id = #{productId},
            </if>


            <if test="productName != null ">
                product_name = #{productName},
            </if>


            <if test="model != null ">
                model = #{model},
            </if>


            <if test="price != null ">
                price = #{price},
            </if>


            <if test="quantity != null ">
                quantity = #{quantity},
            </if>


            <if test="amount != null ">
                amount = #{amount},
            </if>


            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>


            <if test="createTime != null ">
                create_time = #{createTime},
            </if>


            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>


            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>


            <if test="isDel != null ">
                is_del = #{isDel},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE order_trade_item
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.net.sparrow.entity.order.TradeItemEntity">
        INSERT INTO order_trade_item
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="tradeId != null ">
                trade_id,
            </if>


            <if test="productId != null ">
                product_id,
            </if>


            <if test="productName != null ">
                product_name,
            </if>


            <if test="model != null ">
                model,
            </if>


            <if test="price != null ">
                price,
            </if>


            <if test="quantity != null ">
                quantity,
            </if>


            <if test="amount != null ">
                amount,
            </if>


            <if test="createUserId != null ">
                create_user_id,
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name,
            </if>


            <if test="createTime != null ">
                create_time,
            </if>


            <if test="updateUserId != null ">
                update_user_id,
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name,
            </if>


            <if test="updateTime != null ">
                update_time,
            </if>


            <if test="isDel != null ">
                is_del,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tradeId != null ">
                #{tradeId},
            </if>

            <if test="productId != null ">
                #{productId},
            </if>

            <if test="productName != null ">
                #{productName},
            </if>

            <if test="model != null ">
                #{model},
            </if>

            <if test="price != null ">
                #{price},
            </if>

            <if test="quantity != null ">
                #{quantity},
            </if>

            <if test="amount != null ">
                #{amount},
            </if>

            <if test="createUserId != null ">
                #{createUserId},
            </if>

            <if test="createUserName != null  and createUserName != ''">
                #{createUserName},
            </if>

            <if test="createTime != null ">
                #{createTime},
            </if>

            <if test="updateUserId != null ">
                #{updateUserId},
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                #{updateUserName},
            </if>

            <if test="updateTime != null ">
                #{updateTime},
            </if>

            <if test="isDel != null ">
                #{isDel},
            </if>

        </trim>
    </insert>

    <insert id="batchInsert" parameterType="com.net.sparrow.entity.order.TradeItemEntity">
        INSERT INTO order_trade_item
        (
        id,
        trade_id,
        product_id,
        product_name,
        model,
        price,
        quantity,
        amount,
        create_user_id,
        create_user_name,
        create_time,
        is_del
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.tradeId},
            #{item.productId},
            #{item.productName},
            #{item.model},
            #{item.price},
            #{item.quantity},
            #{item.amount},
            #{CURRENT_USER_ID},
            #{CURRENT_USER_NAME},
            now(3),
            0
            )
        </foreach>
    </insert>


    <select id="findByIds" parameterType="Long"
            resultMap="TradeItemResult">
        SELECT
        <include refid="selectTradeItemColumn"/>
        FROM order_trade_item
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
