<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.sparrow.mapper.sys.UserRoleMapper">

    <resultMap type="com.net.sparrow.entity.sys.UserRoleEntity" id="UserRoleResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize > 0">
            LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

    <sql id="selectUserRoleColumn">
        id
        ,
         user_id,
         role_id
    </sql>

    <sql id="queryWhere">
        <where>

            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="userId != null ">
                AND user_id = #{userId}
            </if>

            <if test="roleId != null ">
                AND role_id = #{roleId}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="UserRoleResult">
        SELECT
        <include refid="selectUserRoleColumn"/>
        FROM sys_user_role
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="com.net.sparrow.entity.sys.UserRoleConditionEntity"
            resultMap="UserRoleResult">
        SELECT
        <include refid="selectUserRoleColumn"/>
        FROM sys_user_role
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="com.net.sparrow.entity.sys.UserRoleConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM sys_user_role
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="com.net.sparrow.entity.sys.UserRoleEntity">
        UPDATE sys_user_role
        <trim prefix="SET" suffixOverrides=",">

            <if test="userId != null ">
                user_id = #{userId},
            </if>


            <if test="roleId != null ">
                role_id = #{roleId},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE sys_user_role
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.net.sparrow.entity.sys.UserRoleEntity">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="userId != null ">
                user_id,
            </if>


            <if test="roleId != null ">
                role_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">
                #{userId},
            </if>

            <if test="roleId != null ">
                #{roleId},
            </if>

        </trim>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="UserRoleResult">
        SELECT
        <include refid="selectUserRoleColumn"/>
        FROM sys_user_role
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="batchInsert" parameterType="com.net.sparrow.entity.sys.UserRoleEntity">
        INSERT INTO sys_user_role (user_id,role_id) VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>
</mapper>
